<a href="https://colab.research.google.com/github/philippaSteinberg/EEP153-Proj1/blob/main/EEP_153_Proj1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
!pip install wbdata
import wbdata

def population_df(region):
    """Takes in 3 letter country code and returns a pandas DataFrame indexed by region and date, 
    with columns giving counts of people in different age-sex groups."""
    
    # Get all the indicator labels by age-sex bin and store in variable_labels dict
    variable_labels = {}
    for i in range(0, 80, 5):
        m_age = {"SP.POP." + f"{i:02d}" + f"{i+4:02d}" + ".MA": "M:" + f"{i:02d}" + "-" + f"{i+4:02d}"}
        f_age = {"SP.POP." + f"{i:02d}" + f"{i+4:02d}" + ".FE": "F:" + f"{i:02d}" + "-" + f"{i+4:02d}"}
        variable_labels.update(m_age)
        variable_labels.update(f_age)
    variable_labels.update({"SP.POP." + "80UP" + ".MA": "M:" + "80-UP"})
    variable_labels.update({"SP.POP." + "80UP" + ".FE": "F:" + "80-UP"})
    
    # Get population data for region input
    df = wbdata.get_dataframe(variable_labels, country = region)
    
    # Format DF and indices
    df.reset_index(inplace = True)
    df["Region"] = region
    df["date"] = df["date"].astype(int)
    df.set_index(["Region", "date"], inplace = True)
    return df

population_df("AFE")

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting wbdata
  Downloading wbdata-0.3.0-py3-none-any.whl (14 kB)
Requirement already satisfied: decorator>=4.0 in /usr/local/lib/python3.8/dist-packages (from wbdata) (4.4.2)
Requirement already satisfied: requests>=2.0 in /usr/local/lib/python3.8/dist-packages (from wbdata) (2.25.1)
Requirement already satisfied: tabulate>=0.8.5 in /usr/local/lib/python3.8/dist-packages (from wbdata) (0.8.10)
Requirement already satisfied: appdirs<2.0,>=1.4 in /usr/local/lib/python3.8/dist-packages (from wbdata) (1.4.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.0->wbdata) (2022.12.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.0->wbdata) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.0->wbdata) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.0->wbdata) (2.10)
Installing collected packages: wbdata
Successfully installed wbdata-0.3.0

                M:00-04     F:00-04     M:05-09     F:05-09     M:10-14  \
Region date
AFE    2021  54474934.0  53234090.0  48590005.0  47750830.0  43631748.0
       2020  53461851.0  52265991.0  47709312.0  46911818.0  42575598.0
       2019  52445829.0  51296626.0  46830488.0  46072800.0  41476275.0
       2018  51462324.0  50354295.0  45959995.0  45238285.0  40339961.0
       2017  50527950.0  49459497.0  45048010.0  44365105.0  39194652.0
...                 ...         ...         ...         ...         ...
       1964  13473056.0  13316059.0  10457881.0  10371024.0   8700624.0
       1963  13062183.0  12915169.0  10138780.0  10058500.0   8455835.0
       1962  12661185.0  12522816.0   9837633.0   9765428.0   8228078.0
       1961  12271309.0  12140807.0   9547953.0   9486214.0   8020790.0
       1960  11903046.0  11781303.0   9269956.0   9224178.0   7827606.0

                F:10-14     M:15-19     F:15-19     M:20-24     F:20-24  ...  \
Region date                                                              ...
AFE    2021  43088865.0  37645093.0  37392619.0  32077598.0  32150758.0  ...
       2020  42069398.0  36563052.0  36335804.0  31250943.0  31355868.0  ...
       2019  40999618.0  35526881.0  35311876.0  30439607.0  30578412.0  ...
       2018  39886015.0  34553287.0  34334491.0  29672727.0  29841888.0  ...
       2017  38773390.0  33610378.0  33410378.0  28956812.0  29177045.0  ...
...                 ...         ...         ...         ...         ...  ...
       1964   8635913.0   7371925.0   7348233.0   6056915.0   6192034.0  ...
       1963   8388190.0   7145770.0   7137094.0   5879098.0   6019568.0  ...
       1962   8159040.0   6916635.0   6922855.0   5725665.0   5869666.0  ...
       1961   7950546.0   6684830.0   6705676.0   5586353.0   5730412.0  ...
       1960   7760047.0   6464521.0   6498502.0   5452406.0   5594132.0  ...

               M:60-64    F:60-64    M:65-69    F:65-69    M:70-74    F:70-74  \
Region date
AFE    2021  5530561.0  6828373.0  4019492.0  5147052.0  2724146.0  3599557.0
       2020  5359947.0  6613487.0  3937852.0  5007885.0  2665421.0  3491072.0
       2019  5191655.0  6396462.0  3835788.0  4848496.0  2579929.0  3362927.0
       2018  5031828.0  6185332.0  3722030.0  4677211.0  2477747.0  3224304.0
       2017  4892796.0  5991427.0  3609954.0  4509749.0  2373716.0  3086225.0
...                ...        ...        ...        ...        ...        ...
       1964  1257129.0  1387855.0   850939.0  1007921.0   541871.0   672056.0
       1963  1213489.0  1349018.0   826719.0   983494.0   530004.0   655650.0
       1962  1169274.0  1311157.0   805802.0   960546.0   519280.0   640343.0
       1961  1126932.0  1275145.0   786369.0   938330.0   509464.0   626362.0
       1960  1089990.0  1242066.0   767560.0   916159.0   500885.0   614569.0

               M:75-79    F:75-79    M:80-UP    F:80-UP
Region date
AFE    2021  1559724.0  2207210.0  1085329.0  1909063.0
       2020  1511511.0  2131769.0  1077480.0  1872417.0
       2019  1452252.0  2048886.0  1050938.0  1814665.0
       2018  1392035.0  1967877.0  1014714.0  1750682.0
       2017  1338098.0  1894203.0   980011.0  1688213.0
...                ...        ...        ...        ...
       1964   302911.0   388984.0   196377.0   268313.0
       1963   298421.0   382154.0   193690.0   263206.0
       1962   294329.0   375946.0   191294.0   258394.0
       1961   290320.0   369833.0   188995.0   253612.0
       1960   286341.0   363808.0   186622.0   248982.0

[62 rows x 34 columns]